<div class="setting">
	<p>Fill in your Newsroom settings:</p>
	<div class="label">
	<label for="kapost_domain">Newsroom URL (without http://, i.e test.kapost.com):</label>
	</div>
	<div class="field">
    	<input type="text" name="kapost_domain" id="kapost_domain" value="<TMPL_VAR NAME=kapost_domain escape=html>" />
    	<br/>
	</div>
	<br clear="all">
	<div class="label">
    	<label for="kapost_apikey">Newsroom API Key:</label>
	</div>
	<div class="field">
		<input type="text" name="kapost_apikey" id="kapost_apikey" value="<TMPL_VAR NAME=kapost_apikey escape=html>" />
		<br/>
	</div>
</div>
